@import '../../sass/variables.scss';

.tableRecord {
  background-image: linear-gradient(to bottom right, rgba($color-primary, 1), rgba($color-primary-dark, 1));
  border-radius: .5rem;
  @include box-shadow-1;

  &__table {
    background-color: $color-white;

    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
  }

  &__column {
    display: grid;

    padding: .5rem;
    background-color: $color-gray;
    border-radius: 3rem;
  }

  span {
    padding: .5rem;
  }

  &__span {
    border-bottom: .1rem solid $color-light-2;
  }
}