@import '../../sass/variables.scss';

.popup {
  position: fixed;
  background: #0000008a;
  // color: $color-black;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  &__box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: auto;
    max-height: 80vh;
    margin-top: calc(100vh - 85vh - 50px);
    background: #fff;
    border-radius: 4px;
    // padding: 5px;
    border: 1px solid #999;
    overflow: auto;
  }

  &__closeIcon {
    // content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 50px);
    top: calc(100vh - 85vh - 60px);
    background: #ededed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    // line-height: 20px;
    text-align: center;
    // border: 1px solid #999;
    // font-size: 20px;

    // right: 2.5rem;
    // top: calc(100vh - 85vh - 1.1rem);

    fill: $color-red;
    width: 1.7rem;
    height: 1.7rem;
    z-index: 10;
  }
}
