@import '../../sass/variables.scss';

.cartGroup {
  background-image: linear-gradient(to bottom right, rgba($color-primary, 1), rgba($color-primary-dark, 1));
  border-radius: .5rem;
  direction: rtl;
  font-size: 1rem;
  cursor: pointer;

  &__table {
    background-color: $color-white;

    // padding: .5rem;
    border-radius: .5rem;
    color: $color-black;
    display: grid;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }
}